
<p id="notice"><%= notice %></p>
<p>
  <%= image_tag @image.image.url %>
</p>
 

<p>
  <strong>Creada el: </strong>

 <%= @image.created_at %>
</p>

<%= link_to 'Edit', edit_image_path(@image), class: "btn-large waves-effect waves-light" %> |
<%= link_to 'Back', images_path, class: "btn-large waves-effect waves-light" %>
<p>
</p>
<p>
</p>
 &nbsp;&nbsp; 
