<!DOCTYPE html>
<html>
  <head>
    <title>ImgsApp</title>
    <!-- <%= csrf_meta_tags %> -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>



<nav>
    <div class="nav-wrapper teal darken-3">

<%= link_to images_path do %> 
	 <i class="material-icons large center" >home</i> 
<%end %>MIERDA
    </div>
  </nav>
  <div class="container">  
    <%= yield %>
  </div>                   
</body>
</html>
